<%- include("partials/homeHeader") %>
  <!-- Jumbotron -->
  <div class="container">
    <div class="jumbotron text-center">
      <h1 class="display-3 text-uppercase jumbotron-h1">Ласкаво просимо на Science Confe!</h1>
	  <div class="mt-4">
		  <p>Перегляньте майбутні конференції з усього світу</p>
      	  <a class="btn btn-outline-primary btn-lg text-capitalize" href="/confs/new" role="button">Організувати нову
          конференцію</a>
	  </div>
    </div>
  </div>

  <div class="container text-center">
    <div class="row">
	<!-- Conference card -->
	  <% confs.forEach(function(conf){ %>
			<div class="col-lg-4 cards">
				<div class="card bg-lw h-100">
				  <img src="<%= conf.image %>" class="card-img-top" alt="...">
				  <div class="card-body">
					<h5 class="card-title text-capitalize"><i class="fas fa-paste"></i><%= conf.name %></h5>
					<a href="/confs/<%= conf._id %>" class="btn btn-outline-primary">Детальніше</a>
				  </div>
				</div>
			</div>
	  <% }); %>
	</div>
  </div>
<%- include("partials/footer") %>