<%- include("../partials/header") %>
 <div class="container mt-3">
    <h2 class="text-center">Редагування форми участі</h2>
    <div class="form-primary">
      <form action="/confs/<%= conf_id %>/participants/<%= participant._id %>?_method=PUT" method="POST">
        <div class="mb-3">
          <label>Ваше повне ім'я</label>
          <input class="form-control" type="text" name="participant[name]" value="<%= participant.name %>">
        </div>
        <div class="mb-3">
          <label>Ваші інтереси / теми для обговорення</label>
          <input class="form-control" type="text" name="participant[interests]" value="<%= participant.interests %>">
        </div>
        <div class="mb-3">
          <button type="submit" class="btn btn-outline-primary btn-block">Прийняти!</button>
        </div>
        <p class="text-center"><a href="/confs" class="btn btn-outline-primary btn-block">Повернутися</a>
        </p>
      </form>
    </div>
  </div>
<%- include("../partials/footer") %>