<%- include("../partials/header") %>
  <div class="mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6 show-text">
        <div class="card bg-lw p-2">
          <div class="caption-full">
            <h2 class="text-center">
              <a>Результат опитування до конференції <%= test.conf.name %></a>
            </h2>

            <hr class="header-hr">
            <span class="ml-2">Імя відправника:</span>
            <hr class="header-hr">
            <div class="row main-text ml-2">
              <span> <%= test.name %></span>
            </div>

            <hr class="header-hr">
            <span class="ml-2">Бажана дата для проведення конференцій:</span>
            <hr class="header-hr">
            <div class="row main-text ml-2">
              <span> <%= test.confDate %></span>
            </div>

            <hr class="header-hr">
            <span class="ml-2">Бажана тривалість конференції:</span>
            <hr class="header-hr">
            <div class="row main-text ml-2">
              <span><%= test.confDuration %></span>
            </div>

            <hr class="header-hr">
            <span class="ml-2">Бажане місце для конференції:</span>
            <hr class="header-hr">
            <div class="row main-text ml-2">
              <span><%= test.condLocation %></span>
            </div>

            <hr class="header-hr">
            <span class="ml-2">Учасник готовий підтримати організатора:</span>
            <hr class="header-hr">
            <div class="row main-text ml-2">
              <span><%= test.confDonate %></span>
            </div>

            <hr class="header-hr">
            <span class="ml-2">Бажана програма для конференції:</span>
            <hr class="header-hr">
            <div class="row main-text ml-2">
              <span><%= test.confProgram %></span>
            </div>

            <hr class="header-hr">
            <span class="ml-2">Учасник вважає за потрібне покращити:</span>
            <hr class="header-hr">
            <div class="row main-text ml-2">
              <span><%= test.opinion %></span>
            </div>
            <hr class="header-hr">
            <p class="text-center main-text">
              <em>Надіслано від <%= test.sender.username %></em>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
<%- include("../partials/footer") %>